@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  flex-direction: row;
  
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  margin-top: 10px;
  margin-left: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.group {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  flex:auto;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100px
}

.header {
  display: flex;
  font-weight: 700;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top:0px;
  font-size:14pt;
}

.exit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 5px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 5px;
}

.text{
  font-size: 12pt;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px
}